html,
body {
  width: 100%;
  overflow: hidden;
}

.j-content {
  width: 100%;
  overflow: hidden;
}

.j-avatar-container {
  width: 60px;
  height: 60px;
  position: relative;
  margin: 5px;
  border-radius: 50%;
  -webkit-transition: box-shadow .3s ease-out;
  transition: box-shadow .3s ease-out;
}

.j-avatar-container:after {
  position: absolute;
  left: 80px;
  top: 0;
  content: "";
  background: #3e3e3e;
  width: 1px;
  height: 100%;
}

.j-avatar-container:hover {
  box-shadow: 0 0 20px #ffffff;
}

.j-top {
  padding: 20px 20px 10px 20px;
  overflow: hidden;
}

.layui-tab-title {
  text-align: center;
}

.j-top-info {
  width: 180px;
}

.sign {
  position: relative;
  display: block;
  padding-left: 38px;
}

.j-top>div {
  float: left;
}

.j-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  user-select: none;
  -webkit-user-drag: none;
  z-index: 0;
}

.blur {
  -webkit-filter: blur(5px);
  /* Chrome, Opera */
  -moz-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  z-index: 0;
}

.j-mid {
  position: relative;
  background: white;
}

ul.j-list {
  margin: 0;
}

ul.j-list,
ul.j-list>li {
  list-style: none;
}

.j-child {
  margin: 5px 0;
  padding: 5px;
}

.j-item {
  background: white;
  transition: background .3s ease-in-out;
  -webkit-transition: background .3s ease-in-out;
  cursor: pointer;
  user-select: none;
  -webkit-user-drag: none;
}

.j-item:hover {
  background: #eeeeee;
}

.j-item>div:not(:last-child) {
  float: left;
}

.j-item::before {
  content: '';
}

.j-item::after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}



.j-item-content {
  margin-left: 50px;
}

.j-item-title {
  color: black;
}

.j-item-i {
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.layui-tab-content {
  padding: 10px 0;
}

.layui-colla-content {
  padding: 0;
}

.j-scroll {
  overflow-x: hidden;
  overflow: auto;
  height: 304px;
  width: 100%;
}

.item-select{
  background: #eeeeee;
}